@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-4">
        <div class="item-opciones">
            <h2>Estudiantes</h2>
            <p>
                Administrar todos los estudiantes.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Estudiantes")">Administrar &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item-opciones">
            <h2>Carreras</h2>
            <p>Administrar todas las carreras disponibles.</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Carreras")">Administrar &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item-opciones">
            <h2>Grupos</h2>
            <p>Administrar todos los grupos disponibles.</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Grupos")">Administrar &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="item-opciones">
            <h2>Materias</h2>
            <p>
                Administrar las materias disponibles.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Materias")">Administrar &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item-opciones">
            <h2>Profesores</h2>
            <p>Administrar los profesores disponibles.</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Profesores")">Administrar &raquo;</a></p>
        </div>
    </div>
</div>

<style>
    .item-opciones {
        background-color: #2c3e50;
        padding: 10px;
        color: white;
        margin: 10px;
    }
</style>